/* test */
@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    nav {
        display: grid;
        grid-template-rows: 1fr;
    }

    nav li {
        margin: 0 10px;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: 4rem;
    }

    .header-content h1 {
        padding: 1rem;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu a {
        padding: 10px 20px;
        text-align: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        padding: 10px 0;
        width: 100%;
    }

    ul.menu {
        display: block;
        list-style-type: none;
    }

    .menu-items {
        display: grid;
        grid-template-rows: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    img {
        width: 200px;
        height: auto;
        margin: 10px;
    }

    .sidebar h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .sidebar h3 {
        font-size: 1.4rem;
        margin: 2rem 0 0rem 0;
    }

}