* {
    margin: 0 0.1rem;
    border: 0;
    box-sizing: border-box;
}

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald", sans-serif;
}

header,
nav,
footer {
    margin: 0 auto;
    max-width: 850px;
}

main {
    margin: 0 auto;
    max-width: 850px;
}

header {
    background-color: #065143;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header span {
    margin: 3rem;
    font-size: 3rem;
    font-weight: 600;
}

header img {
    box-shadow: 0 0 5px 5px #000000ac;
}

h1 {
    margin: 1rem 0;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    border-bottom: 2px solid;
}

nav {
    background-color: #E4B363;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

/*.active {
    color: #EF6461
} */

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.bigcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.card {
    border: 2px solid;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.card ul {
    list-style-type: none;
    padding: 0.5rem 0;
    margin-left: 2rem;
}

.card ul li {
    padding: 0.2rem 0;
}

.card h2 {
    background-color: #386FA4;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-weight: 300;
}

.card p {
    margin: 1.5rem 0;
    text-align: center;
}

footer p {
    padding: 0.2rem;
}