:root {
    --border: black;
}

body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    line-height: 1.4;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
}

header,
nav,
footer {
    margin: 0 auto;
    max-width: 768px;
    padding: 1rem;
}

input,
textarea,
select {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
}

button {
    padding: 10px;
}