@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        display: inline-block;
        width: 100%;
        margin: 0px;
    }

    nav li {
        margin: 0 10px;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .header-content h1 {
        padding: 1rem;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu a {
        padding: 10px 20px;
        text-align: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px 0;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0px;
    }
}